// Here you can add other styles

.banner{
  margin-top: -21px;
  margin-right: -15px;
  width: 100%;
  float: right;
}

.menu{
  margin-left: 28px;
}

.menustat{
  margin-left: 50px;
}

//Removes scrollbar in Chrome and Safari
::-webkit-scrollbar {
  display: none;
  }

  